@import url(font.css);

* {font-family: 'MapoPeacefull';}

body {margin: 0; padding: 0;}
a {text-decoration: none; }

/* header */
header {width: 1000px; margin: 110px auto 0; display: flex; justify-content: space-between; align-items: center;}
header div {width: 80px;}
header #logo {width: 253.32px; height: 56.82px;}
header #logIn {width: 80px; height: 33.19px; border: 3px solid #A5E374; border-radius: 5px; background-color: white; color: #8D8D8D;
                font-weight: bold; font-size: 1.05rem;}
#logIn:hover {background-color: #A5E374; color: white;}

/* section */
section {width: 1000px; height: 66.4vh; display: flex; margin: auto;}
article {width: 100%; margin: 30px auto;}
.title {font-size:30px; margin: 0 0 20px 20px; color: #373F57;}
h2 {text-align: center; margin-top: 50px; color: #373F57;}
#id {color: #A5E374; margin: 0 10px;}
#buttonWrap {width: 650px; margin: 100px auto; display: flex; justify-content: space-between;}
#buttonWrap a {width: 150px; height: 50px; font-size: 1.3rem; text-align: center; line-height: 50px; color: #8D8D8D; background-color: #DDDDDD; border-radius: 10px;}
#buttonWrap a:hover {color: white; background-color: #A5E374;}

/*footer*/
footer{ display: flex; height: 80px; background-color: #F0F0F0; border-top: #dddddd solid 0.1rem;
    color: #BEBEBE; font-size: 0.8rem; justify-content: center; align-items: center;}
footer a:hover{text-decoration: underline; color: #BEBEBE;}
footer img{margin: 0 2rem; }
footer a{color: #BEBEBE}