@import url(font.css);

* {font-family: 'MapoPeacefull';}

/* header */
header{margin-top: 60px; margin-bottom: 20px;  display: flex; justify-content: center;}
header>a{width: 253.32px; height: 56.82px;}
#logo{width: 253.32px; height: 56.82px; margin-bottom: 50px;display: flex; }
/* 선택버튼 */
#member_box{width: 246px; margin: 0 auto;}
.tabs {margin-right:35px; display: flex; justify-content: center;}
ul {list-style:none;}
#indi_btn{margin-right: 95px;}
#indi_btn a{width: 160px; height: 50px;margin-bottom: 10px; display: flex;
     justify-content: center; align-items: center;text-decoration: none;
      background-color: #A5E374; color: #ffffff; border-radius: 5px 5px 5px 5px;
      font-size: 1.2rem; cursor: pointer;}
#indi_btn a:hover{background-color: #A5E374; color: white;}
#comp_btn a{width: 160px; height: 50px;margin-bottom: 10px; display: flex; 
      justify-content: center; align-items: center;text-decoration: none;
       background-color: #F0F0F0; color: #858585; border-radius: 5px 5px 5px 5px;
       font-size: 1.2rem; cursor: pointer;}
#comp_btn a:hover{background-color: #A5E374; color: white;}

/* container */
.caution{font-size:small;color: #62AE26;}
#frame {height: 95px;}
#chain {height:65px}
/* .hey{height: 95px;}
#hey{height: 95px;} */
#frame2 {height: 195px;}
#dupChk{width: 110px; height: 42.5px;
       color: white; background-color: #62AE26; 
       border: 1px solid white; border-radius: 7px;display: inline-block;}

#search {width: 100px; height: 35px; color: white; margin-bottom:8px;
       background-color: #A5E374; border: 1px solid white; border-radius: 7px; margin-left: 1rem;}
#search:hover{background-color: #62AE26;}
#signup>#btn1:hover{background-color: #62AE26;}       
#signUp{display: flex; justify-content: center; margin-top: 20px;}
#addressCom{margin-top: 15px;}
#ifUHave {margin-top: 100px; margin-bottom: 100px;}
#individual{padding: 0;}
.btn-xlarge{width: 170px; height: 60px;display: flex;align-items: center; justify-content: 
       center;border: white; font-size: 1.3rem; border-radius: 5px; font-weight: bold; margin-top: 40px;}
.btn-xlarge:visited {border: white; display: flex; justify-content:center;}

#sugg{text-decoration: none; color: #62AE26;}

/*주소정렬*/
.address>input {width:416px;margin-left:0.7rem;}


/*footer*/
footer{background-color: #F5F5F5; color: #D9D9D9; overflow: hidden;}
#footImg{align-items: center;  justify-content: center; margin-right: 400px;}
#footLogo {width: 253.32px;  margin-top:40px; height:56.82px; display: flex; align-items: center; margin-left: 40px; justify-content: center;}
#CR{font-size: small; display: flex; justify-content: center; align-items: center; }